*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* menggunakan ::after & ::before dikarenakan ada menggunakan fungsi pseudoclass ::after & ::before dibawah sehingga agar box-sizing nya dapat di inherit */
}

html {
  /* No. 1 parent element 10px untuk mempermudah perhitungan ketika menggunakan rem (1 rem di kali 10px) daripada menggunakan default size yaitu 16px
  font-size: 10px; */
  /* No. 2 Teknik lebih rinci dibanding mengunakan 10px yaitu dengan menggunakan persentase sehingga lebih dinamis dibrowser (10/16=0.625*100=62.5%) */
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
